<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      
      <div class=" navbar" >
        <div class="navbar-nav">
          <a class="nav-link" href="#">Home</a>
          <a class="nav-link" href="/contacto">Contacto</a>
          <a class="nav-link" href="/experiencia">Experiencia</a>
          <a class="nav-link" href="/habilidades">Habilidades</a>
          <a class="nav-link" href="/educacion">Educacion</a>
          <a class="nav-link" href="/proyectos">Proyectos</a>
          
        </div>
      </div>
    </div>
  </nav>
  

